.header {
    .navbar {
        padding: 0;

        .navbar-brand {
            padding: 0;
        }

        .navbar-nav {
            position: relative;

            a {                
                padding: 25px;
            }           
        }

        .dropdown {
            button {
                background: white;
                border: none; 
            }

            .dropdown-toggle::after {
                display: none !important;
            }

            :focus {
                box-shadow: none;
            }
            
            .dropdown-menu {
                right: 0;
                left: 50px;
            }
        }
    }

    .logo {
        width: 96px;
        height: 44px;
        left: 126px;
        top: 21px;
        background: #3E66FB;
        border-radius: 12px;
        color: white;
    }

    .notification.nav-link {
        opacity: 0.4;   
        border-left: 2px solid #F0F0F1;   
        border-right: 2px solid #F0F0F1;
    }

    .nav-link:first-child {
        border-left: 2px solid #F0F0F1;
    }  

    .nav-link::before {
        content: "";
        background: #3E66FB;
        width: 12px;
        height: 12px;
        position: absolute;
        top: 26px;
        left: 120px;
        border-radius: 24px
    }

    .profile {
        padding-left: 40px;
        .content {
            padding-left: 10px;
            text-align: left;
            .name {
                font-family: 'Rubik';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #2F3C4C;
            }

            .role {
                font-family: 'Rubik';
                font-style: normal;
                font-weight: 300;
                font-size: 10px;
                line-height: 14px;             
                color: #3E66FB;
            }
        }
        
        .stroke {
            margin-left: 50px;
        }
    }
}