.chart_value{
    font-weight: bold;
}

.define_g{
    transform: translate(-5px, -5px);
    transition: all 0.2s ease-in;
    opacity: 0.7;
}
.define_g.active{
    transform: translate(-15px, -15px);
    opacity: 1;
}

.design_g{
    transform: translate(5px, -5px);
    transition: all 0.2s ease-in;
    opacity: 0.7;
}
.design_g.active{
    transform: translate(15px, -15px);
    opacity: 1;
}

.improve_g{
    transform: translate(-5px, 5px);
    transition: all 0.2s ease-in;
    opacity: 0.7;
}
.improve_g.active{
    transform: translate(-15px, 15px);
    opacity: 1;
}

.embeded_g{
    transform: translate(5px, 5px);
    transition: all 0.2s ease-in;
    opacity: 0.7;
}
.embeded_g.active{
    transform: translate(15px, 15px);
    opacity: 1;
}

.main-page1 {
    margin-top: 60px;
    position: relative;

    .quarter-field {
        position: absolute;
        left: 230px;
        border-radius: 400px;

        .define-design-container {
            display: flex;
            justify-content: center;   
            gap: 11px;        
            
            .define, .design {               
                cursor: pointer;
                transition: all 0.3s ease-in;
            }
            .define {
                background-color: white;
                border-radius: 400px;
                box-shadow: 0 0 0 3px #ffffff;
            }     
        }
    
        .improve-embed-container {
            display: flex;
            justify-content: center;       
            gap: 11px;
            margin-top: 11px;
           
            .improve, .embed {               
                cursor: pointer;
                transition: all 0.3s ease-in;
            }
        }
    }

    .detail {
        display: none;
        position: absolute;
        padding: 15px 20px;       
        height: 590px;
        z-index: 1;
        left: 60px;

        .diagram {
            position: absolute;
            top: 50px;
            left: 100px;
            right: 0;
            bottom: 0;
            border-radius: 50px 0 0 0;
            border-top: 19px solid transparent;
            border-left: 19px solid transparent;
            background: linear-gradient(186deg, #3E66FB, #fdfdfd) border-box;
            -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
            -webkit-mask-composite: destination-out;
            mask-composite: exclude;
            width: 220px;
            z-index: -1;
        }

        .description {
            position: absolute;
            top: 75px;
            left: -34px;           

            .title {
                position: relative;
                top: 0px;
                left: 0px;
            }

            p {
                font-family: 'Rubik';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 20px;
                color: #C2C9D1;
            }

            .policy {
                background-color: white;
                width: 186px;
                height: 86px;
                border-radius: 10px;
                margin-top: 30px;
                padding: 12px 0;

                .policy-container {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 34px;  

                    .mark {
                        width: 18px;
                        height: 18px;
                        border-radius: 18px;
                        background: #3CC13B;
                    }

                    .mark-blue {
                        width: 18px;
                        height: 18px;
                        border-radius: 18px;
                        background: #3E66FB;
                    } 
                }

                p {
                    font-family: 'Rubik';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 28px;
                    color: #000000;
                }               

                .status {
                    font-family: 'Rubik';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    color: #3CC13B;
                    padding-left: 30px;
                    padding-top: 8px;
                }

                .status-awaiting {
                    font-family: 'Rubik';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    color: #3E66FB;
                    padding-left: 30px;
                    padding-top: 8px;
                }

                .status-not-approved {
                    font-family: 'Rubik';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    padding-left: 30px;
                    padding-top: 8px;
                    color: rgba(62, 102, 251, 0.5);
                }
            }
        }
    } 
    
    
    .define-detail {
        display: block;
        position: absolute !important;
        left: 60 !important;
        top: 0 !important;

        .diagram {
            border-radius: 50px 0 0 0 !important;
            border-top: 19px solid transparent !important;
            border-left: 19px solid transparent !important;
            border-bottom: none !important;
            border-right: none !important;
            background: linear-gradient(186deg, #3E66FB, #fdfdfd) border-box !important;
        } 
        
        .description {
            position: absolute !important;
            top: 75px !important;
            left: -34px !important;

            .title {
                position: relative !important;
                top: 0px !important;
                left: 0px !important;
                text-align: left !important;
            }

            .policy {
                .policy-container {
                    flex-direction: initial !important;
                }
            }
        }
    }

    .design-detail {  
        display: block;
        position: absolute !important;
        left: 650px !important;
        top: 0 !important;

        .diagram {
            border-radius: 0 50px 0 0 !important;
            border-top: 19px solid transparent !important;
            border-right: 19px solid transparent !important;
            border-bottom: none !important;
            border-left: none !important;
            background: linear-gradient(160deg, #3E66FB, #fdfdfd) border-box !important;
        }    
        
        .description {
            position: absolute !important;
            top: 75px !important;
            left: 267px !important;

            .title {
                position: relative !important;
                top: 0px !important;
                left: 0px !important;
                text-align: right !important;
            }

            .policy {
                .policy-container {
                    flex-direction: row-reverse !important;
                }

                .status, .status-awaiting, .status-not-approved, .status-not-approved {
                    float: right !important;
                    padding: 8px 30px 0 0 !important;
                }
            }
        }
    }

    .improve-detail {
        display: block;
        position: absolute !important;
        left: 60 !important;
        top: 30px !important;

        .diagram {
            border-radius: 0 0 0 50px;
            border-bottom: 19px solid transparent !important;
            border-left: 19px solid transparent !important;
            border-top: none !important;
            border-right: none !important;
            background: linear-gradient(-20deg, #3E66FB, #fdfdfd) border-box !important;
        }  
        
        .description {
            position: absolute !important;
            top: -40px !important;
            left: -34px !important;

            .title {
                position: relative !important;
                top: 550px !important;
                left: 0px !important;
                text-align: left !important;
            }

            .policy {
                .policy-container {
                    flex-direction: initial !important;
                }               
            }
        }
    }

    .embed-detail {  
        display: block;
        position: absolute !important;
        left: 650px !important;
        top: 30px !important;

        .diagram {
            border-radius: 0 0 50px 0 !important;
            border-bottom: 19px solid transparent !important;
            border-right: 19px solid transparent !important;
            border-top: none !important;
            border-left: none !important;
            background: linear-gradient(10deg, #3E66FB, #fdfdfd) border-box !important;
        }

        .description {
            position: absolute !important;
            top: -40px !important;
            left: 267px !important;

            .title {
                position: relative !important;
                top: 550px !important;
                left: 0px !important;
                text-align: right !important;
            }

            .policy {
                .policy-container {
                    flex-direction: row-reverse !important;
                }

                .status, .status-awaiting, .status-not-approved, .status-not-approved {
                    float: right !important;
                    padding: 8px 30px 0 0 !important;
                }
            }
        }
    }
}