.home-main {
    padding: 70px 150px;
    .choose-option {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        text-align: left;
        color: #929395;
    }

    .title {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        color: #000000;
        margin-top: 24px;
    }

    .background {
        margin-top: 48px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 40px;
        position: relative;

        .background-1 {
            background: white;
            border-radius: 24px;
            .image1-div {
                padding-left: 30px;
                padding-right: 50px;
            }

            .underline {
                height: 1px;
                background: #3F3D56;
                color: #3F3D56;
                width: 90%;
                position: relative;
                bottom: 18px;
            }
            
            .description {
                padding-left: 30px;
                .title-1 {
                    font-family: 'Rubik';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 28px;                    
                    color: #F03738;
                }

                .content {
                    font-family: 'Rubik';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 20px;                    
                    color: rgba(0, 0, 0, 0.29);
                }
            }
        } 
        
        .background-2 {
            background: white;
            border-radius: 24px;

            .image2-div {
                padding-top: 50px;
                padding-right: 50px;
            }

            .description {
                margin-top: 25px;
                padding-left: 30px;

                .confirm-images {
                    .vector {
                        position: relative;
                        left: 92px;
                    }

                    .finger {
                        position: relative;
                        top: 45px;
                        left: 60px;
                    }
                }
            }
        }
    }

    .btn {
        margin-top: 66px;
        float: right;
        background: #3E66FB;
        border-radius: 100px;
        width: 122px;
        height: 48px;
        color: white;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}